.wrapper {
  height: calc(100vh - 70px);
  // height: 100vh;
}

.container {
  height: 100%;
}

.banner-container {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#banner {
  background-color: $main-red;
  color: white;
  text-align: center;
  h1 {
    position: relative;
    z-index: 5;
  }
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

#kitty-banner {
  z-index: 0;
  position: fixed;
  bottom: 0px;
  left: 50px;
  filter: opacity(40%) grayscale(40%);
  }

#skills {
//   background-color: #6b76ff;
//   color: white;
  background-color: $main-red;
  .intro {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
}

#skills-content {
  border-radius: 30px 30px 0 0;
  background-color: #F4F4F4;
  position: relative;
}

.skill {
  height: 250px;
  border-radius: 10px;
  text-align: center;
  .skill-title {
    padding-top: 20px;
  }
  .skill-description {
    font-size: 16px;
    padding-top: 10px;
    font-weight: lighter;
    letter-spacing: 0.15em;
  }
  img {
    width: 120px;
  }
  h4 {
    font-size: 20px;
  }
}

#skills, #portfolios {
  h2 {
    margin-top: 100px;
    margin-bottom: 0;
  }
}

#skills-anchor {
  position: absolute;
  top: -70px;
}

.stick {
  width: 80px;
  height: 2px;
  background-color: $main-red;
  margin: 30px auto;
}

#portfolios, #form, .footer {
  position: relative;
  background: #F4F4F4;
}
